.point {
    position: absolute;
    width: 6px;
    height: 6px; 
    background-color: black; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 12px; 
    transition: transform 0.3s ease, background-color 0.1s ease, border 0.5s ease, color 0.5s ease, font-size 0.5s ease;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.point span {
	display: none;
}

.point:hover,
.point.active {
	transform: translate(-50%, -50%) scale(1.33);
    width: 40px; 
    height: 40px; 
    background-color: #F4F5F9; 
    border: 1px solid #303E58; 
    color: black; 
	font-size: 14px;
}
.point:hover span,
.point.active span {
	display: block;
}